Flask==0.9
Flask-Bcrypt==0.5.2
Flask-Gravatar==0.3.0
Flask-SQLAlchemy==0.16
Flask-WTF==0.8.3
Jinja2==2.6
SQLAlchemy==0.8.0
WTForms==1.0.3
Werkzeug==0.8.3
gunicorn==0.17.2
psycopg2==2.4.6
py-bcrypt==0.2
wsgiref==0.1.2
