.menu-avatar {
    margin-right: 4px;
    border-radius: 3px;
}

.tweet {
    margin-top: 5px;
    border-radius: 6px;
    word-wrap: break-word;
    padding: 7px;
}

.tweet.even {
    background-color: #F0F0F0; 
}

.tag {
    margin: 5px 10px;
    display: inline-block;
}