{% macro render_tweet(tweet, show_user=True, is_odd=True) %}
    <div class="media tweet {% if not is_odd %} even {% endif %}">
        {% if tweet.author == logged_user %}
            <a class="close" href="{{ url_for('delete_tweet', tweet_id=tweet.id) }}">&times;</a>
        {% endif %}
        <a class="pull-left" href="{{ url_for('user', user_id=tweet.author.id) }}">
            <img class="media-object img-rounded" src="{{ tweet.author.email | gravatar(size=64) }}">
        </a>
        <div class="media-body" style="padding: 8px">
            <h5 class="media-heading">
                {% if show_user %}
                {{ user_link(tweet.author) }}
                {% endif %}
                <span class="muted">
                    {{ tweet.timestamp | timesince }}
                </span>
            </h5>
            {{ tweet.content | tweet_content }}
        </div>    
    </div>
{% endmacro %}

{% macro user_link(user, avatar=False) %}
    <a href="{{ url_for('user', user_id=user.id) }}">
        {% if avatar %}
            <img class="menu-avatar" src="{{ user.email | gravatar(size=20) }}">
        {% endif %}
        {{ user.id_repr() }}
    </a>
{% endmacro %}