{% extends "main.html" %}

{% block header %}
{{ user.id_repr() }}
{% endblock %}

{% macro render_tweet(tweet, show_user=True, is_odd=True) %}
{% if is_odd %}
<div class="media" style="margin-top: 5px; border-radius: 6px">
{% else %}
<div class="media" style="background-color: #F0F0F0; margin-top: 5px; border-radius: 6px">
{% endif %}
    <a class="pull-left" href="javascript:;">
        <img class="media-object" src="{{ tweet.author.email | gravatar(size=64) }}">
    </a>
    <div class="media-body" style="padding: 8px">
        <h5 class="media-heading">
            {% if show_user %}
            {{ tweet.author.id_repr() }}
            {% endif %}
            <span class="muted">
                {{ tweet.natural_timestamp() }}
            </span>
        </h5>
        {{ tweet.content }}
    </div>    
</div>
{% endmacro %}

{% block content %}
<div class="row">
    <div class="span2">
        <img src="{{ logged_user.email | gravatar(size=128) }}" class="img-polaroid">
        <h4>Seuraa:</h4>
        <h4>Seuraajat:</h4>
    </div>
    <div class="span5">
        {% if logged_user == user %}
            <form class="form" method="POST" action="">
                {{ tweet_form.csrf_token }}
                {{ tweet_form.content(placeholder='Tööteti töö!', maxlength=140, class="input-block-level", rows=3) }} 
                <input class="btn pull-right" type="submit" value="Tööttää!">
            </form>
        {% endif %}
    
        {% for tweet in user.tweets %}
            {{ render_tweet(tweet, False, loop.cycle(True, False)) }}
        {% endfor %}
    </div>
    <div class="span5">
    </div>
</div>
{% endblock %}
