{% extends "main.html" %}

{% block header %}
{{ user.id_repr() }}
{% endblock %}

{% set logged_user_profile = user == logged_user %}

{% block content %}
<div class="row">
    <div class="span2">
        <img src="{{ user.email | gravatar(size=160) }}" class="img-polaroid" style="margin-bottom: 1em;">
        {% if not logged_user_profile and logged_user %}
            {% if logged_user.does_follow(user) %}
                <a class="btn btn-block btn-warning" href="{{ url_for('unfollow', user_id=user.id) }}">Lopeta seuraaminen</a>
            {% else %}
                <a class="btn btn-block btn-success" href="{{ url_for('follow', user_id=user.id) }}">Seuraa käyttäjää</a>
            {% endif %}
        {% endif %}

        <h4>Seuraa:</h4>
        <ul class="nav nav-pills nav-stacked">
            {% for followed_user in user.following %}
                <li>{{ user_link(followed_user) }}</li>
            {% else %}
                <li><p class="muted">
                    {% if logged_user_profile %}
                        Et seuraa ketään.
                    {% else %}
                        Käyttäjä ei seuraa ketään.
                    {% endif %}
                </p></li>
            {% endfor %}
        </ul>
        
        <h4>Seuraajat:</h4>
        <ul class="nav nav-pills nav-stacked">
            {% for following_user in user.followers %}
                <li>{{ user_link(following_user) }}</li>
            {% else %}
                <li><p class="muted">
                    {% if logged_user_profile %}
                        Kukaan ei seuraa sinua.
                    {% else %}
                        Kukaan ei seuraa käyttäjää.
                    {% endif %}
                </p></li>
            {% endfor %}
        </ul>
    </div>

    <div class="span5">
        {% if logged_user_profile %}
            <form class="form" method="POST" action="">
                {{ tweet_form.csrf_token }}
                {{ tweet_form.content(placeholder='Tööteti töö!', maxlength=140, class="input-block-level", rows=3) }} 
                <input class="btn btn-primary pull-right" type="submit" value="Tööttää!">
            </form>
        {% endif %}
        

        <h3>Töötit:</h3>
        {% for tweet in user.tweets %}
            {{ render_tweet(tweet, False, loop.cycle(True, False)) }}
        {% else %}
            <p class="muted">Ei tööttejä!</p>
        {% endfor %}
    </div>

    <div class="span5">
        <h3>Seinä:</h3>
        {% for tweet in user.wall() %}
            {{ render_tweet(tweet, True, loop.cycle(True, False)) }}
        {% else %}
            <p class="muted">Ei tööttejä!</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
